<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Welcome to Pitch Idea Website </title>
    {% endif %}
    </head>
    <body class="body">
      {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}
    <div>
    <!-- Content block -->
    {% block content %}

    {% endblock%}
      <link rel="stylesheet" href="{{ url_for('static', filename= 'styles/index.css') }}">
      <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</body>
</html>
