{% extends 'base.html'%}
{% import 'macros.html' as macro %}
{% block content %}
  <h1 class="text-center"><strong>Welcome to Pitch idea Wall</strong></h1>
   <p class="text-center" style="font-weight:normal;font-size:20px">Write your ideas on this wall</p>
   <div class="container">
    <div class="row">
        <div class="cards border-danger"><br>
                  {{ macro.display(Jokes) }}
              </div>
              <div class="cards border-danger" id="event"><br>
                  {{ macro.display(Inspiration)}}
              </div>
              <div  class="card border-danger" id="jobs"><br>
                  {{ macro.display(Random) }}
                </div>
          </div>
      {% endblock%}
</div>
