<div class="mb-1 navbar navbar-expand-lg navbar-dark ">
<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="font-size:40px ;color: white" href="{{url_for('main.index')}}"><strong>Recipe Pitch Page<strong></a>
    </div>
      <div class="mx-auto order-0">
    <ul class="nav navbar-nav ">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" style="color: white" href="#">CATEGORIES
        <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <li><a href="#">BREAKFAST</a></li>
          <li><a href="#">LUNCH</a></li>
          <li><a href="#">DINNER</a></li>
        </ul>
      </li>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li style="color:white;padding:15px;">{{current_user.username}}</li>
        <li><a href="{{url_for('auth.logout')}}"><span class="glyphicon glyphicon-sign-out" style="color: white"></span> Logout</a></li>
         {% else %}
        <li><a href="{{url_for('auth.login')}}"><span class="glyphicon glyphicon-log-in" style="color: white"></span> Login</a></li>
          {%endif%}
        <li><a href="{{url_for('auth.register')}}"><span class="glyphicon glyphicon-log-out" style="color: white"></span> Sign Up</a></li>
        </ul>
    </div>
    </nav>
    </div>
